<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="flex flex-col md:flex-row">

        <!-- Sidebar -->
        <div class="bg-gray-800 text-gray-100 w-full md:w-64 min-h-screen p-4">
            <h3 class="text-2xl font-semibold mb-6">Dashboard</h3>
            <nav class="flex flex-col space-y-4">
                <a (click)="redirectToDashboard()" class="bg-blue-800 hover:bg-blue-700 text-center py-4 rounded-md shadow-md">
                    Transferencias
                  </a>
                  
                  <a (click)="redirectToDashboardClientes()" class="bg-gray-700 hover:bg-gray-600 text-center py-4 rounded-md shadow-md">
                    Accesos
                  </a>
                  
            </nav>

            <!-- Separador Vertical -->
            <hr class="my-6 border-gray-600" />

            <div class="mt-6">
                <a href="http://localhost:4200/users-info"
                    class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-md shadow-md block text-center">
                    Volver
                </a>
            </div>
        </div>



        <!-- Main Content -->
        <div class="flex-1 p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
                <!-- Cards -->
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Transferencias hoy</h5>
                    <p id="UsuariosLogueados" class="text-2xl font-bold">{{ transferenciasHoy }}</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Volumen Total de Transferencias</h5>
                    <p class="text-2xl font-bold">${{ totalMoneyTransferred.toFixed(2) }}</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Transferencias completadas</h5>
                    <p class="text-2xl font-bold">{{ totalTransfersCompleted }}</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Valor Promedio de Transferencia</h5>
                    <p class="text-2xl font-bold">{{ averageMoneyTransferred.toFixed(2)}}</p>
                </div>
            </div>

            <!-- Botones de control -->
            <div class="flex mt-4 space-x-4 mb-4">
                <button (click)="pauseReceiving()"
                    class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">Interrumpir
                    Recepción</button>
                <button (click)="resumeReceiving()"
                    class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">Reanudar Recepción</button>
                <button (click)="clearTransfers()"
                    class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Reiniciar Lista</button>
            </div>




            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <!-- Charts -->
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Financial Statistics</h5>
                    <canvas id="financialChart"></canvas>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Transferencias por País (Destino y Origen)</h5>
                    <canvas id="countriesComparisonChart"></canvas>
                </div>
            </div>

            <div class="mt-6 bg-white p-4 rounded-lg shadow-lg">
                <h5 class="text-gray-600 text-lg font-semibold">Transferencias</h5>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 border">Nombre</th>
                                <th class="px-4 py-2 border">País Origen</th>
                                <th class="px-4 py-2 border">País Destino</th>
                                <th class="px-4 py-2 border">Cliente Origen</th>
                                <th class="px-4 py-2 border">Cliente Destino</th>
                                <th class="px-4 py-2 border">Valor Origen</th>
                                <th class="px-4 py-2 border">Valor Destino</th>
                                <th class="px-4 py-2 border">Fecha y Hora</th>
                            </tr>
                        </thead>
                        <tbody id="transferTableBody">
                            <!-- Aquí se insertarán dinámicamente las filas de las transferencias -->
                        </tbody>
                    </table>
                </div>



                <!-- Botones de paginación -->
                <div class="flex justify-center mt-4">
                    <button (click)="onPrevPage()" [disabled]="currentPage === 1"
                        class="px-4 m-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Anterior</button>
                    <span class="mt-5 text-lg font-semibold">Página {{currentPage}} de {{totalPages}}</span>
                    <button (click)="onNextPage()" [disabled]="currentPage === totalPages"
                        class="px-4 m-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>