<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="flex flex-col md:flex-row">
        <!-- Sidebar -->
        <div class="bg-gray-800 text-gray-100 w-full md:w-64 min-h-screen p-4">
            <h3 class="text-2xl font-semibold mb-6">Dashboard</h3>
            <nav class="flex flex-col space-y-4">
                <a href="#" class="hover:text-gray-400">Dashboard</a>
                <a href="#" class="hover:text-gray-400">Components</a>
                <a href="#" class="hover:text-gray-400">Forms</a>
                <a href="#" class="hover:text-gray-400">Tables</a>
                <a href="#" class="hover:text-gray-400">Maps</a>
                <a href="#" class="hover:text-gray-400">Widgets</a>
                <a href="#" class="hover:text-gray-400">Charts</a>
                <a href="#" class="hover:text-gray-400">Calendar</a>
                <a href="#" class="hover:text-gray-400">Pages</a>
            </nav>
        </div>

        <!-- Main Content -->
        <div class="flex-1 p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
                <!-- Cards -->
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Usuarios registrados</h5>
                    <p id="UsuariosLogueados" class="text-2xl font-bold">150GB</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Dinero trasnferido</h5>
                    <p class="text-2xl font-bold">${{ totalMoneyTransferred.toFixed(2) }}</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Errores encontrados</h5>
                    <p class="text-2xl font-bold">23</p>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Transacciónes completadas</h5>
                    <p class="text-2xl font-bold">{{ totalTransfersCompleted }}</p>
                </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <!-- Charts -->
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Financial Statistics</h5>
                    <canvas id="financialChart"></canvas>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-lg">
                    <h5 class="text-gray-600 text-lg font-semibold">Transferencias por País (Destino y Origen)</h5>
                    <canvas id="countriesComparisonChart"></canvas>
                </div>
            </div>

            <div class="mt-6 bg-white p-4 rounded-lg shadow-lg">
                <h5 class="text-gray-600 text-lg font-semibold">Transferencias</h5>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 border">Nombre</th>
                                <th class="px-4 py-2 border">País Origen</th>
                                <th class="px-4 py-2 border">País Destino</th>
                                <th class="px-4 py-2 border">Cliente Origen</th>
                                <th class="px-4 py-2 border">Cliente Destino</th>
                                <th class="px-4 py-2 border">Valor Origen</th>
                                <th class="px-4 py-2 border">Valor Destino</th>
                                <th class="px-4 py-2 border">Fecha y Hora</th>
                            </tr>
                        </thead>
                        <tbody id="transferTableBody">
                            <!-- Aquí se insertarán dinámicamente las filas de las transferencias -->
                        </tbody>
                    </table>
                </div>
            </div>
            
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>
</html>
