<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <style>
        .profile-info {
            padding: 1rem;
        }
        .input-edit {
            margin-bottom: 0.5rem;
        }
        .btn-save, .btn-cancel, .btn-edit {
            margin-top: 1rem;
        }

        .btn-edit {
            background-color: rgb(68, 85, 240);
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .profile-card-title {
            font-size: 1.5rem; /* Tamaño del texto del título */
            font-weight: bold; /* Negrita para el título */
            margin-top: 0;
        }

        .profile-card-header {
           padding: 25px;
        }

        .separator {
            border-bottom: 1px solid #e5e7eb; /* Color de la separación */
            margin: 1rem 0; /* Espacio alrededor de la separación */
        }
    </style>
</head>
<body class="bg-white font-sans leading-normal tracking-normal">

    <!-- Encabezado -->
    <header class="bg-gradient-to-r from-gray-800 to-gray-900 text-white p-4 shadow-lg">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <h1 class="text-2xl font-bold">Gestión de usuarios y clientes</h1>
        </div>
        <nav>
          <ul class="flex space-x-6">
            <li>
              <a (click)="redirectToHome()" class="text-lg hover:text-gray-400 transition duration-300">
                Inicio
              </a>
            </li>
            <li>
              <a (click)="redirectToUsersInfo()" class="text-lg hover:text-gray-400 transition duration-300">
                Usuarios
              </a>
            </li>
            <li><a href="#" class="text-lg hover:text-gray-400 transition duration-300">Perfil</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Contenedor de la tarjeta centrado -->
    <div class="flex items-center justify-center min-h-screen">
        <div class="profile-card">
            <div class="profile-card-header">
                <div class="profile-card-title"> {{ usuario?.fullName || usuario?.nombre }} </div>
                <div class="profile-card-subtitle"> {{ usuario?.rol }} </div>
                <div class="profile-card-subtitle"> {{ usuario?.email }} </div>
            </div>
            <div class="profile-card-content">
                <!-- Mostrar datos específicos del rol 'cliente' -->
                <div *ngIf="usuario?.rol === 'Client'" class="profile-info">
                    <div *ngIf="!isEditing">
                        <p><strong>Nombre:</strong> {{ usuario?.nombre }} </p>
                        <p><strong>Apellido:</strong> {{ usuario?.apellido }} </p>
                        <p><strong>Fecha de Nacimiento:</strong> {{ usuario?.dateOfBirth | date }} </p>
                        <p><strong>Empleo:</strong> {{ usuario?.empleo }} </p>
                        <p><strong>País ID:</strong> {{ usuario?.paisID }} </p>
                        <p><strong>Rol:</strong> {{ usuario?.rol }} </p>
                        <button (click)="enableEditing()" class="btn-edit">Editar</button>
                    </div>
                    <div *ngIf="isEditing">
                        <label class="block">
                            Nombre:
                            <input [(ngModel)]="usuario.nombre" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Apellido:
                            <input [(ngModel)]="usuario.apellido" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Fecha de Nacimiento:
                            <input [(ngModel)]="usuario.dateOfBirthString" type="date" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Empleo:
                            <input [(ngModel)]="usuario.empleo" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            País ID:
                            <input [(ngModel)]="usuario.paisID" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Rol:
                            <input [(ngModel)]="usuario.rol" class="input-edit border rounded p-2" disabled/>
                        </label>
                        <div class="separator"></div>
                        <button (click)="saveChangesClient()" class="btn-save bg-blue-500 text-white rounded p-2">Guardar</button>
                        <button (click)="cancelEditing()" class="btn-cancel bg-red-500 text-white rounded p-2">Cancelar</button>
                    </div>
                </div>
                <!-- Mostrar datos para otros roles -->
                <div *ngIf="usuario?.rol !== 'Client'" class="profile-info">
                    <div *ngIf="!isEditing">
                        <p><strong>Nombre Completo:</strong> {{ usuario?.fullName }} </p>
                        <p><strong>Fecha de Nacimiento:</strong> {{ usuario?.dateOfBirth }} </p>
                        <p><strong>Email:</strong> {{ usuario?.email }} </p>
                        <p><strong>ID Identidad:</strong> {{ usuario?.idIdentity }} </p>
                        <p><strong>Rol:</strong> {{ usuario?.rol }} </p>
                        <button (click)="enableEditing()" class="btn-edit">Editar</button>
                    </div>
                    <div *ngIf="isEditing">
                        <label class="block">
                            Nombre Completo:
                            <input [(ngModel)]="usuario.fullName" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Fecha de Nacimiento:
                            <input [(ngModel)]="usuario.dateOfBirth" type="date" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Email:
                            <input [(ngModel)]="usuario.email" class="input-edit border rounded p-2" disabled/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            ID Identidad:
                            <input [(ngModel)]="usuario.idIdentity" class="input-edit border rounded p-2"/>
                        </label>
                        <div class="separator"></div>
                        <label class="block">
                            Rol:
                            <input [(ngModel)]="usuario.rol" class="input-edit border rounded p-2" disabled/>
                        </label>
                        <div class="separator"></div>
                        <div class="flex justify-end space-x-4 mt-6">
                          <button (click)="saveChanges()" class="btn-save bg-blue-500 text-white rounded p-2 hover:bg-blue-600 transition">Guardar</button>
                          <button (click)="cancelEditing()" class="btn-cancel bg-red-500 text-white rounded p-2 hover:bg-red-600 transition">Cancelar</button>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
